# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3

print(numberFloat)
print(numberFloat)

# reassigning the variable
numberFloat = 7.2

print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# short version: dont' have to add a new variable

result += 2  
print(result)

# or

# new_result = result + 2
# print(new_result)

# or

# print(result + 2)

7.4
9.4

##### Subtraction

In [14]:
num1 = 2
num2 = 5.4

result_diff = num2 - num1
print(result_diff)


# or

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [18]:
num1 = 2
num2 = 5.4

result_mul = num1 * num2

print(result_mul)

# or

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [21]:
num1 = 2
num2 = 5.4

result_div = num2 / num1

print(result_div)

# or

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [1]:
num1 = 2
num2 = 5.4

result_floor = num2 // num1

print(result_floor)

# or

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [4]:
# gives remainder

num1 = 2
num2 = 5.4

result_mod = num2 % num1

print(result_mod)

# another example

result_mod = 13 % 2

print(result_mod)

# or

result_mod %= 2
print(result_mod)

1.4000000000000004
1
1

##### Exponential

In [6]:
square = 5 ** 2

print(square)

# or

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [8]:
name = "Joel"

print(name)

# or

name = 'Joel'

print(name)

# note that it doesn't print the quotes or apostrophes


# the below makes 5 a string, not an integer
name = "5"

print(name)

Joel
Joel
5

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
name = "Brandon"

print("This is my first name: ", name)

print("Full Name: ", name, end=" Apol")

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [13]:
first_name = "John"

last_name = "Smith"

full_name = first_name + " " + last_name

print(full_name)

# or

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [15]:
number = "32"

change_type_num = int(number)

# below is a string
print(number)

# below is an integer
print(change_type_num + 1)

32
33

##### input()

In [21]:
# INPUT ALWAYS RETURNS A STRING

# name = input("What is your name? ")

# print("Nice to meet you, " + name)

# another example

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 78
83

##### format()

In [26]:
name = "Brandon"

age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)

print(result_string)

result_again = f"{age} is a great time in life!!!"

print(result_again)

What is your age? 12
You are 12 Brandon and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [27]:
# DONT DO THIS

result_string2 = "You are %s and you look great for your age!" %age

print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
car_color = input("What color is your car? ")

car_year = input("What year is your car? ")

car_make = input("What make is your car? ")

car_model = input("What model is your car? ")

car_result = f"You own a {car_color} {car_year} {car_make} {car_model}."

print(car_result)

What color is your car? black
What year is your car? 2011
What make is your car? Subaru
What model is your car? WRX
You own a black 2011 Subaru WRX.

### If Statements

In [15]:
# Available operators: Greater (>), Less (<), Equal (==)
# Greater or Equal (>=), Less or Equal (<=)

# Truth Tree:
# T && F = F    and
# T && T = T    and
# T || F = T    or
# F || T = T    or
# F || F = F    or


num1 = 5
num2 = 10
num3 = 0

if num1 == 5:
    print("This is true!")
else:
    print("That thing was not true! It is false!")


if num1 == num2:
    print("Equal Values")
else:
    print("Not Equal")
    
    
if num2 > num1 and num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal Values")
    
    
if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal Values")

This is true!
Not Equal
Equal Values
Num2 is greater

##### 'is' keyword

In [16]:
# The "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the excact number/object")

This is the excact number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\natasha\AppData\Local\Temp\ipykernel_12368\4121441696.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [17]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [18]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

answer = input("Type something and I will check if there is a 'P'... ")

if "p" in answer:
    print("There is at least one 'P'.")
else:
    print("There are no 'P's.")

Type something and I will check if there is a 'P'... see
There are no 'P's.

## Using 'and'/'or' with If Statements

In [22]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statement

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    

# if with "or" statement

if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [4]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("The name is Brandon")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? leslie
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [9]:
# use for automating
# Syntax:
# for counter in condition
# NOTE: letter and number are variables that can be named anything
# usually see for i in a_list

name = "Brandon Apol"
print(name)

for letter in name:
    print(letter)
    

# list example, as if they were numbers

list = [5, 6, 7, 8]
print(list)

for number in list:
    print(number + 1)

Brandon Apol
B
r
a
n
d
o
n

A
p
o
l
[5, 6, 7, 8]
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [13]:
# creates a list from 0-19 because it includes and starts at zero equalling 20, up to 20
# doesn't include 20
# called zero indexing is when it starts and includes zero

# for i in range(20):
#     print(i)
 
# continue doesn't stop the code, it just skips printing out 5

for i in range(20):
    if i == 5:
        continue
    print(i)
    
    
# removes the first a because it is lowercase, doesn't remove the second A because it's uppercase

name = "Brandon Apol"

for i in name:
    if i == "a":
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [ ]:
# will break out of current loop, STOPS THE LOOP

In [14]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [15]:
name = "Brandon Apol"

for i in name:
    pass

##### Double For Loops

In [16]:
# will loop five times inside another loop that's five times, total of 25 loops
# NOTE: takes up a lot of processing power, be careful when using

for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [17]:
# continues happening as long as something is true, be careful
# while keyword, condition statement
# NOTE: CTRL + C to break out of loop, need the num += 1 to make it not be a constant 0
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [21]:
# bad practice, don't do this!!!
# can create a flag game_over = False and use it inside of the while True
# ex. while True:

game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Woud you like to stop? ")
    if user_input == "Yes":
        game_over = False

Infinite Loop
Woud you like to stop? no
Infinite Loop
Woud you like to stop? Yes

##### While & For Loops Used Together

In [22]:
# global variable, can be used anywhere
# need the num += 1 to make it stop somewhere, otherwise num will always equal 0

num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [27]:
# range(Start, Stop, Step), I want to do something this many times
# Start is 0, Stops right before 20, defaults to Step 1
# Starts at zero, goes up 1 Step each time, Stops right before 20

for i in range(20):
    print(i)
    
# starts at 2, stops before 20, goes up by 2 steps
# even numbers
for i in range(2, 20, 2):
    print(i)
    
# odd numbers
for i in range(1, 20, 2):
    print(i)
    
# goes up in 3's
for i in range(1, 20, 3):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
4
6
8
10
12
14
16
18
1
3
5
7
9
11
13
15
17
19
1
4
7
10
13
16
19

##### len()

In [28]:
# includes spaces

name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Lord of the Rings
17

##### help()

In [29]:
# Use this function to view more info about a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [38]:
# check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
    
# another example

num = 4.5

if isinstance((num), int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

False
This number is a float type
4.5 is a float

##### abs()

In [39]:
# absolute, how far a number is from zero
# |-5| = 5
# can use to check to see if there are any negative numbers in a list and remove them

print(abs(-5))

5

### Try and Except

In [43]:
# TRY doing this, but if it doesn't work, do something else besides giving an error
# use this to log out graceful and useful error messages
# does not stop the program

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number applesauce
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [48]:
# empty list, can use to filter things out and put something into an empty list

list_1 = []

names = ["Max", "Cindy", "Kathy", "bob", "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [55]:
# list_name[start: stop: step]
#          0       1        2       3       4
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

# single index
print(names[0])

# index error
# print(names[6])

# print starting at index 1 going to the end, includes everything except for the first one
print(names[1:])

# print starting at the beginning of a list up until a number, doesn't include
print(names[:2])

# print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [56]:
#          0       1        2       3       4
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

names.append("Brandon")
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [58]:
#          0       1        2       3       4
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

names.append("Brandon")
names.insert(3, "Devon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon']

##### .pop()

In [61]:
# defaults to the last value is no parameter is given
# pop returns the element that was removed incase you want to assign it to a variable

#          0       1        2       3       4
# names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

# names.append("Brandon")
# names.insert(3, "Devon")
# print(names)

#    0       1        2        3       4       5        6
# ['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon']

my_name = names.pop(2)
# removed Kathy
#    0       1        2        3       4       5        
# ['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Brandon']

print(my_name)
# prints Devon which is now in position 2, and popped it
#    0       1        2        3       4               
# ['Max', 'Cindy', 'bob', 'Nate', 'Brandon']

print(names)

Devon
['Max', 'Cindy', 'bob', 'Nate', 'Brandon']


##### .remove()

In [65]:
# value to be removed rather than index

#          0       1        2       3       4
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

names.append("Brandon")
names.append("Brandon")
names.insert(3, "Devon")
print(names)

names.remove("bob")
print(names)

# remove multiple brandons from list
while "Brandon" in names:
    names.remove("Brandon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon', 'Brandon']
['Max', 'Cindy', 'Kathy', 'Devon', 'Nate', 'Brandon', 'Brandon']
['Max', 'Cindy', 'Kathy', 'Devon', 'Nate']

##### del()

In [66]:
# Goes by index rather than value
# Be careful with del, it can cause index errors if not used correctly

#          0       1        2       3       4
names = ["Max", "Cindy", "Kathy", "bob", "Nate"]

del(names[1])
print(names)

['Max', 'Kathy', 'bob', 'Nate']

##### Concatenating Two Lists

In [69]:
# will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [73]:
# lists can hold any type of other elements (data types), including other lists
# can go as dep as you want, called nested lists

#          0      1       2       3,0      3,1,0   3,1,1    3,2
names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3])
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
['Sally', ['Sue', 'Jim'], 'Tameka']
Jim

##### Looping Through Lists

In [76]:
# Two ways to loop through a list, one by index, other by using the "in" keyword

#          0      1       2       3,0      3,1,0   3,1,1    3,2
names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]

print(len(names))

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with "in"
for i in names:
    print(i)

4
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [102]:
for i in range(40):
    if i**2 > 1000:
        break
    else:
        print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [165]:
# HINT:
# An else after an if runs if the if didn't
# An else after a for runs if the for didn't break

# prime numbers: can only be divided by 1 and itself


def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i % j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(100)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [28]:
age = input("What is your age? ")

int_age = int(age)

if int_age < 18:
    print("kids")
elif int_age >= 18 and int_age <= 65:
    print("adults")
else:
    print("seniors")

What is your age? 66
seniors